body{
	font-family: "Candara";
	color: #000000 ;
	background-color: #f5f5f5;
}

/*mengatur font size*/
form, input, option,select, textarea{
	font-size: 20px !important;
}

/*untuk table*/
th{
	background-color: #000000 !important;
	vertical-align: middle;
	color: #f5f5f5;
}

tr {
	font-weight: bold;
}


/*font untuk judul*/
@media screen and (max-width: 578px){

	#wrapper h2{
		font-size: 18px;
	}
	
}


/*costum scrollbar*/
::-webkit-scrollbar{
	width: 17px;
}
::-webkit-scrollbar-thumb{
	background-color: #005fee;
	border-radius: 20px;
	border: 5px solid transparent;
	background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}
::-webkit-scrollbar-track{
	background-color: transparent;
}
/*hapus iklan*/
.disclaimer{
	display: none !important;
}